= link_to 'Courses/course', course: @course
\/
= link_to @course.title, course_path(@course)
.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    = link_to 'Add lesson', new_lesson_path(course_id: @course.id)
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson



-# %p#notice= notice

-# -# %p
-# -#   %b Title:
-# -#   = @course.title
-# -# %p
-# -#   %b Description:
-# -#   = @course.description

-# = link_to 'Edit', edit_course_path(@course)
-# \|

